<h1>POSTY TBH</h1>

<% @posts.each do |post| %>
    <div class="post">
        <%= post.title %><br>
        <%= post.text %><br>
        <p>odp tbh:</p>
        <% post.comments.first(5).each do |comment| %>
             <p>
                <%= comment.body %>
            </p>
        <% end %>
        <td><%= link_to 'Show', post_path(post) %></td>
        <td><%= link_to 'Delete', post_path(post),
            method: :delete,
            data: { confirm: 'TBH?' } %></td>
    </div>
<% end %>
<br><br>
<%= link_to 'New', new_post_path %>
